
 <!DOCTYPE html>
<html>
    <head>
        <title>Demoapp</title>
    </head>
    <body>       
        <link rel="stylesheet" href="/app.css">
<h1> You fell in love with <%= thingvar %> </h1>
<% if(thingvar === "rusty"){ %>
 <p> Good choice</p>
 <% } else { %>
  <p>Bad choice</p>
  <% } %>
  </body>
</html>
    